#heading{
    color:red;
    text-align: center;
}
#but{
    text-align: center;
    box-align: center;
    color: red;
}
#grocery-list{
    background-color: aquamarine;
    color:blue;
   
    
}
#tr{
    color:black;
    border: black;
}
